/*  G E N E R A L  */

/*importerer bebas neue og montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Minimal reset: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CSS HEX*/
:root {
    --pale: #DDBFB0;
    --raw: #826255;
    --champagne: #F7E3D7;
    --linen: #EFE5DC;
    --white: #FFFFFF;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-family: "Playfair Display", serif;
    font-size: 60px;
    font-weight: 900;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 20px;
}



/*  N A V B A R  */
nav {
    position: fixed;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 1px 2px 3px rgb(237, 235, 235);
}

nav .flex {
    justify-content: space-between;
}

nav img {
    border-radius: 50%;
    width: 50px;
}

.dot {
    color: var(--pale);
}

.head_nav {
    background-color: var(--pale);
    padding: 10px;
    border: solid 2px #cfb4a7;
}

.head_nav a {
    color: white;
}

.head_nav:hover {
    border-width: 3px;
}