/*  G E N E R A L  */

/*importerer bebas neue og montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Minimal reset: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CSS HEX*/
:root {
    --pale: #DDBFB0;
    --raw: #826255;
    --champagne: #F7E3D7;
    --linen: #EFE5DC;
    --white: #FFFFFF;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}



a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 20px;
}



/*  N A V B A R  */
nav {
    position: fixed;
    color: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid linen 1px;
}

nav .flex {
    justify-content: space-between;
}

nav img {
    border-radius: 50%;
    width: 50px;
}

.dot {
    color: var(--pale);
}

.head_nav {
    background-color: var(--pale);
    padding: 10px;
    border: solid 2px #cfb4a7;
}

.head_nav a {
    color: white;
}

.head_nav:hover {
    border-width: 3px;
}



/* H E A D E R */

header {
    height: 100vh;
    padding-top: 120px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(sea.jpg);
}

